@import "tailwindcss";

@font-face {
  font-family: iranSans;
  src: url("../components/fonts/IRANSansX-Light.woff");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-main: #162f48;
  --color-blue01: #c0d0ff;
  --color-blue02: #091d30;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Start Default Styles */
::-webkit-scrollbar {
  width: 50px;
  background-color: #cedbe8;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background: #818181;
}

::-webkit-scrollbar {
  width: 5px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  color: #fff;
  direction: rtl;
  background-color: rgba(14, 35, 56, 1) !important;
}

*,
*::after,
*::before {
  outline: none;
  font-family: iranSans !important;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  transition: all 400ms ease;
}

i {
  user-select: none;
}

.content {
  max-width: 1288px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.MuiDataGrid-columnHeaderTitle {
  color: #000 !important;
  font-family: iranSans !important;
  text-align: center !important;
}

.MuiDataGrid-cell {
  font-family: iranSans !important;
  text-align: center !important;
}

.DatePicker {
  z-index: 3 !important;
}

/* Finish Default Styles */

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
